h1{
    text-align: center;
    text-decoration: underline;
	font-family:Georgia;
	line-height:50px;
}
img{
    width:95%; height:20%;
    padding-left: 18px;
}
#p1{
    text-align: center;
}
.column{
    display:inline-block;
    width: 30%;
    padding-top: 20px;
    vertical-align:text-top;
	font-family:sans-serif;
	
}
h3{
	text-align: center;
	background-color: rgba(16,168,189,.3)
}
#background-color{
	background-color: rgba(255,239,166,.2);
	
}
#upper-color{
	background-color: rgba(252,249,255, 1)
}