<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
	<meta charset="UTF-8">
	<title>Angular Name Badge</title>
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
</head>

<body ng-controller="mainCtrl">
	<div class="container">

		<div class="form-alignment" class="row">
			<form name="validateForm" class="employeeForm" novalidate>
				<div class="outer-spacing">

				</div>
				<input class="form-element col-xs-offset-1 col-xs-4" type="text" name="firstName" ng-model="firstName" id="firstName" placeholder="First Name" ng-minlength="3" required>

				<input class="form-element col-xs-offset-1 col-xs-4" type="text" ng-model="lastName" name="lastName" placeholder="Last Name" ng-minlength="3" required>
				<input class="form-element col-xs-offset-1 col-xs-4" type="email" ng-model="email" name="email" placeholder="Email" required>
				<input class="form-element col-xs-offset-1 col-xs-4" type="text" ng-model="birthPlace" name="birthPlace" placeholder="Place of Birth" required>
				<input type="tel" 
                   class="form-element col-xs-offset-1 col-xs-4" 
                   ng-minlength="10" 
                   ng-maxlength="10"  
                   id="inputPhone" 
                   name="phone" 
                   placeholder="Phone" 
                   ng-model="phone"
                   required>
				<input class="form-element col-xs-offset-1 col-xs-4" ype="text" ng-model="food" name="food" placeholder="Favorite Food" ng-minlength="3">

				<textarea rows="5" name="aboutSelf" class="form-element col-xs-offset-1 col-xs-9" placeholder="Tell us about yourself" ng-model="about" ng-minlength="3" required></textarea>
				<button type="button" class="btn btn-lg btn-sucess submit-btn col-xs-offset-5" ng-click="newEmp()" ng-disabled='validateForm.$invalid'>Submit</button>
				<div class="outer-spacing">
				</div>
			</form>
		</div>
	</div>
	<div ng-repeat="name in persons">
		<div class="container empBadge">
			<div class="row employeeForm">
				<div class="col-xs-12" ng-class-even ="'even'" ng-class-odd = "'odd'">Badge: </div>
				<div class="outer-spacing">
				</div>
				<h6 class="form-element col-xs-offset-1 col-xs-4">Name: {{name.empName}} </h6>
				<h6 class="form-element col-xs-offset-1 col-xs-4">Phone: {{name.empPhone}} </h6>
				<h6 class="form-element col-xs-offset-1 col-xs-4">Place of Birth: {{name.empBirth}}</h6>
				<h6 class="form-element col-xs-offset-1 col-xs-4">Favorite Food: {{name.empFood}} </h6>
				<h6 class="form-element col-xs-offset-1 col-xs-4">Email: {{name.empEmail}} </h6>
				<p class="form-element about-info col-xs-offset-1 col-xs-9"> {{name.empAbout}}</p>
				<div class="outer-spacing">
				</div>

			</div>

		</div>
	</div>
	<script src="app.js"></script>
</body>

</html>

                   