.head-img{
	height:5em;
	left:0px;
	
}
.header{
	background-color:#202020;
	color:red;
}

.type{
	font-weight: 200;
	margin-left:20px;
}
.alignment{
	margin-top:50px;
}
.background{
	background-color:#DFDFDF
}
.hit-img{
	width:109%;
	height:15em;;
	margin-bottom: 25px;
}
.hit-name{
	width:92%;
	text-align:center;
	position:absolute;
	top:180px;
	left:0;
	height:30px;
	color:antiquewhite;
	background-color:rgba(43,99,151,.7);
	left:15px;
}